*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(99, 29, 211);
    overflow-x: hidden;
    position: relative;
    color: #1d1d1f;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
}

/* Navbar */
.navbar {
    background-color: rgb(230, 230, 230);
    height: 60px;
    color: #000000;
    text-align: center;
}


/* first section */

#main-section {
    background-color: rgb(241, 241, 241);
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
}

#table-id {
    border: 4px solid rgb(0, 145, 255);
}


/* second section */

#second-section { 
    height:90vh;
    width: 100%;
    background-color:blue ;
}

#div-ss {
    padding-top: 40px;
    margin: auto;
}

/* cells structure */
.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: 25px;
    color: rgb(42, 42, 190);
}

#board {
    height: 300px;
    width: 300px;
    align-content: center;
    margin: auto;
}

#restart-button {
    margin: 25px auto;
}


/* footer */

footer {
    background-color: rgb(56, 57, 59);
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    padding: 20px 40px;
}

