*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(99, 29, 211);
    overflow-x: hidden;
    position: relative;
    color: #1d1d1f;
    height: 100%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
}


.navbar {
    background-color: rgb(230, 230, 230);
    height: 60px;
    text-align: center;
    color: #000000;

}

#main-section {
    background-color: rgb(241, 241, 241);
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding-top: 40px;
}

#second-section{
    height:50vh;
    width: 100%;
    background-color:blue ;
}

#board {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    align-content: center;
    margin: auto;
}

#restart-button {
    margin: 25px auto;
}

footer {
    background-color: rgb(56, 57, 59);
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
}

